$main-gray: #fbfbfb;
$main-white: #ffffff;
$main-red: #ff5050;
$main-orange: #fd9e22;
$main-green: #6dc243;
$main-black: #2a3133;

// second colors
$second-gray: #aaadad;

$main-br: 20px;
$second-br: 10px;
