.app-header {
  @media only screen and (max-width: 768px) {
    .header-links {
      display: none;
    }
    .user {
      display: none !important;
    }
    .logo {
      flex-basis: 40% !important;
    }
    .user-auth-links {
      display: none;
    }
    .side-menu-button {
      height: 40px;
      width: 40px;
      border: none;
      cursor: pointer;
      background: none;
      z-index: 3;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .side-menu {
      width: 0%;
      height: 100vh;
      background-color: rgba(25, 0, 255, 0.541);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 0;
      right: 0;
    }
    .expand {
      width: 100% !important;
    }
  }
}
