.welcome {
  h2,
  h3 {
    margin: 0;
    color: white;
  }
  background: url("../../../assets/imgs/flock-of-birds-917494.jpg");
  background-size: cover;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  .login-or-signup {
    width: 400px;
    .buttons {
      margin-top: 20px;
    }
    span {
      margin: 0 10px;
      color: #ffffff;
    }
    button {
      border: none;
      width: 100px;
      background-color: $color5;
      color: white;
      padding: 10px;
      font-size: 18px;
      border-radius: 5px;
      a {
        color: white;
      }
    }
  }
}
